<div
  class="m-walletTokenEarnings__dateSelector"
  (click)="dateSelector.open($event)"
>
  <span class="m-walletTokenEarningsDateSelector__label">{{
    friendlyDate
  }}</span>
  <m-date-selector
    #dateSelector
    [date]="date"
    [max]="maxDate"
    [tooltipIcon]="'date_range'"
    [tooltipText]="'Select date'"
    [i18n]="'@@SCHEDULE__POST__DATE__SELECTOR__TOOLTIP'"
    (dateChange)="onDateChange($event)"
    hideInput="true"
  ></m-date-selector>
</div>

<m-button
  color="blue"
  (onAction)="joinRewards($event)"
  *ngIf="isConnected === false"
>
  Join Rewards
</m-button>

<!-- Shows only if is today -->
<div
  class="m-walletTokenEarnings__estimates"
  *ngIf="showEstimates$ | async"
  [ngClass]="{
    'm-walletTokenEarnings__estimates--hiddenCount': hasPending$ | async
  }"
>
  <div class="m-walletTokenEarningsEstimates__item">
    <div class="m-walletTokenEarningsEstimatesItem__label">
      <span>Today's estimate</span>
      <m-tooltip icon="info">
        Your estimated token payout for today's contribution
      </m-tooltip>
    </div>
    <div class="m-walletTokenEarningsEstimatesItem__amount">
      <ng-container *ngIf="!(hasPending$ | async); else pending">
        <m-wallet__currencyValue
          [value]="total.daily"
          hideCurrency="true"
          currency="tokens"
        ></m-wallet__currencyValue>
      </ng-container>
      <ng-template #pending>
        Calculating...
      </ng-template>
    </div>
  </div>
  <div
    class="m-walletTokenEarningsEstimates__item"
    *ngIf="!(hasPending$ | async)"
  >
    <div class="m-walletTokenEarningsEstimatesItem__label">
      <span>Next payout</span>
      <m-tooltip icon="info">
        Countdown until your next token payout is issued
      </m-tooltip>
    </div>
    <div class="m-walletTokenEarningsEstimatesItem__amount">
      <span>{{ nextPayoutDate$ | async | timediff: true }}</span>
    </div>
  </div>
  <div class="m-walletTokenEarningsEstimates__item">
    <div class="m-walletTokenEarningsEstimatesItem__label">
      <span>All-time rewards</span>
      <m-tooltip icon="info">
        Your total token earnings throughout history
      </m-tooltip>
    </div>
    <div class="m-walletTokenEarningsEstimatesItem__amount">
      <m-wallet__currencyValue
        [value]="total.alltime"
        hideCurrency="true"
        currency="tokens"
      ></m-wallet__currencyValue>
    </div>
  </div>
</div>

<m-loadingSpinner [inProgress]="!data"></m-loadingSpinner>

<div
  class="m-walletTokenEarnings__accordion m-walletTokenRewards__accordion"
  *ngIf="data"
>
  <table>
    <!------------------------------
    !! Labels !!
    ------------------------------->
    <thead>
      <tr class="labels">
        <td></td>
        <td>Daily</td>
        <td>All-time</td>
        <td></td>
      </tr>
    </thead>

    <!------------------------------
    !! Total !!
    ------------------------------->
    <tbody>
      <tr class="total m-walletTokenEarnings__header">
        <td>Total</td>
        <td>
          <m-wallet__currencyValue
            [value]="total.daily"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="total.alltime"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td></td>
      </tr>
    </tbody>

    <!------------------------------
    !! Engagement !!
    ------------------------------->
    <tbody>
      <tr
        class="m-walletTokenEarnings__header"
        (click)="toggleRow('engagement')"
      >
        <td>
          <span>Engagement</span>
          <m-tooltip icon="info">
            Summary of your token rewards for engagement on your content
          </m-tooltip>
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.engagement.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.engagement.alltime_summary.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <ng-container
            *ngTemplateOutlet="expandArrow; context: { rowId: 'engagement' }"
          ></ng-container>
        </td>
      </tr>
    </tbody>

    <!------------------------------
    !! Engagement Expanded !!
    ------------------------------->
    <tbody
      class="m-walletTokenEarnings__expanded"
      *ngIf="expandedRow === 'engagement'"
    >
      <tr>
        <td>
          <span>Your score</span>
          <m-tooltip icon="info">
            Your score for referrals and engagement on your content and channel
          </m-tooltip>
        </td>
        <td colspan="3">{{ data.engagement.score }} points</td>
      </tr>
      <tr>
        <td>
          <span>Network score</span>
          <m-tooltip icon="info">
            Total network score for all referrals and engagement on the app
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.engagement.global_summary.score | number }} points
        </td>
      </tr>
      <tr>
        <td>
          <span>Your share</span>
          <m-tooltip icon="info">
            Your score divided by the total network score
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.engagement.share_pct * 100 | number: '1.0-3' }}%
        </td>
      </tr>
      <tr>
        <td>
          <span>Reward</span>
          <m-tooltip icon="info">
            Your estimated token reward based on your percent share
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.engagement.token_amount | number }}
          <span class="m-walletTokenEarnings__supportingValues">
            &middot;
            {{ data.engagement.share_pct * 100 | number: '1.0-3' }}% of
            {{ round(data.engagement.global_summary.token_amount) | number }}
          </span>
        </td>
      </tr>

      <!-- SUMMARY -->
      <tr class="m-walletTokenEarningsExpanded__summaryLabel">
        <td>Summary</td>
        <td colspan="3"></td>
      </tr>

      <tr
        class="m-walletTokenEarningsExpanded__contributionRow"
        *ngFor="let item of contributionScores$ | async"
      >
        <td>{{ item.label }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.score }} points</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>

      <tr>
        <td>
          <span>Activity Multiplier</span>
          <m-tooltip icon="info">
            Your account's activity level to determine your multiplier
          </m-tooltip>
        </td>
        <td colspan="3">
          <ng-container
            *ngTemplateOutlet="
              multiplierBar;
              context: {
                $implicit: data.engagement.multiplier,
                timebased: false
              }
            "
          ></ng-container>
        </td>
      </tr>
      <tr>
        <td>
          <span>Total Points</span>
          <m-tooltip icon="info">
            Your total points including your multiplier
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.engagement.score }} points
          <span class="m-walletTokenEarnings__supportingValues">
            &middot;
            {{ data.engagement.score / data.engagement.multiplier }} x
            {{ data.engagement.multiplier }}
          </span>
        </td>
      </tr>
    </tbody>

    <!------------------------------
    !! Holding !!
    ------------------------------->
    <tbody>
      <tr class="m-walletTokenEarnings__header" (click)="toggleRow('holding')">
        <td>
          <span>Holding</span>
          <m-tooltip icon="info">
            Summary of your token rewards for holding tokens on-chain
          </m-tooltip>
          <a
            class="m-walletTokenEarnings__cta"
            (click)="onTransferClick($event)"
            >Transfer</a
          >
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.holding.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.holding.alltime_summary.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <ng-container
            *ngTemplateOutlet="expandArrow; context: { rowId: 'holding' }"
          ></ng-container>
        </td>
      </tr>
    </tbody>

    <tbody
      class="m-walletTokenEarnings__expanded"
      *ngIf="expandedRow === 'holding'"
    >
      <tr>
        <td>
          <span>Your score</span>
          <m-tooltip icon="info">
            Your score for holding your tokens on-chain
          </m-tooltip>
        </td>
        <td colspan="3">{{ data.holding.score | number }}</td>
      </tr>
      <tr>
        <td>
          <span>Network score</span>
          <m-tooltip icon="info">
            Total network score for holding tokens on-chain
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.holding.global_summary.score | number }}
        </td>
      </tr>
      <tr>
        <td>
          <span>Your share</span>
          <m-tooltip icon="info">
            Your score divided by the total network score
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.holding.share_pct * 100 | number: '1.0-3' }}%
        </td>
      </tr>
      <tr>
        <td>
          <span>Reward</span>
          <m-tooltip icon="info">
            Your estimated token reward based on your percent share
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.holding.token_amount | number }}
          <span class="m-walletTokenEarnings__supportingValues">
            &middot;
            {{ data.holding.share_pct * 100 | number: '1.0-3' }}% of
            {{ round(data.holding.global_summary.token_amount) | number }}
          </span>
        </td>
      </tr>

      <!-- SUMMARY -->
      <tr class="m-walletTokenEarningsExpanded__summaryLabel">
        <td>Summary</td>
        <td colspan="3"></td>
      </tr>

      <tr>
        <td>
          <span>On-chain Tokens</span>
          <m-tooltip icon="info">
            Your On-chain token balance
          </m-tooltip>
        </td>
        <td colspan="3">
          <m-wallet__currencyValue
            [value]="data.holding.raw_score"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
      </tr>

      <tr>
        <td>
          <span>Time multiplier</span>
          <m-tooltip icon="info">
            Your score multiplier as determined by duration
          </m-tooltip>
        </td>
        <td colspan="3">
          <ng-container
            *ngTemplateOutlet="
              multiplierBar;
              context: { $implicit: data.holding.multiplier, timebased: true }
            "
          ></ng-container>
        </td>
      </tr>
    </tbody>

    <!------------------------------
    !! Liquidity !!
    ------------------------------->
    <tbody>
      <tr
        class="m-walletTokenEarnings__header"
        (click)="toggleRow('liquidity')"
      >
        <td>
          <span>Liquidity</span>
          <m-tooltip icon="info">
            Summary of your token rewards for providing liquidity
          </m-tooltip>
          <a
            class="m-walletTokenEarnings__cta"
            (click)="onProvideLiquidityClick($event)"
            >Provide Liquidity</a
          >
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.liquidity.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <m-wallet__currencyValue
            [value]="data.liquidity.alltime_summary.token_amount"
            hideCurrency="true"
            currency="tokens"
          ></m-wallet__currencyValue>
        </td>
        <td>
          <ng-container
            *ngTemplateOutlet="expandArrow; context: { rowId: 'liquidity' }"
          ></ng-container>
        </td>
      </tr>
    </tbody>

    <tbody
      class="m-walletTokenEarnings__expanded"
      *ngIf="expandedRow === 'liquidity'"
    >
      <tr>
        <td>
          <span>Your score</span>
          <m-tooltip icon="info">
            Your score for providing liquidity
          </m-tooltip>
        </td>
        <td colspan="3">{{ data.liquidity.score | number }}</td>
      </tr>
      <tr>
        <td>
          <span>Network score</span>
          <m-tooltip icon="info">
            Total network score for providing liquidity
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.liquidity.global_summary.score | number }}
        </td>
      </tr>
      <tr>
        <td>
          <span>Your share</span>
          <m-tooltip icon="info">
            Your score divided by the total network score
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.liquidity.share_pct * 100 | number: '1.0-3' }}%
        </td>
      </tr>
      <tr>
        <td>
          <span>Reward</span>
          <m-tooltip icon="info">
            Your estimated token reward based on your percent share
          </m-tooltip>
        </td>
        <td colspan="3">
          {{ data.liquidity.token_amount | number }}
          <span class="m-walletTokenEarnings__supportingValues">
            &middot;
            {{ data.liquidity.share_pct * 100 | number: '1.0-3' }}% of
            {{ round(data.liquidity.global_summary.token_amount) | number }}
          </span>
        </td>
      </tr>

      <!-- SUMMARY -->
      <tr class="m-walletTokenEarningsExpanded__summaryLabel">
        <td>
          <span>Summary</span>
          <a
            class="m-walletTokenEarnings__cta"
            [href]="uniswapAccountLink"
            target="_blank"
            *ngIf="uniswapAccountLink"
            >Uniswap Account</a
          >
        </td>
        <td colspan="3"></td>
      </tr>

      <ng-container *ngIf="liquidityPositions$ | async as liquidityPositions">
        <tr>
          <td>
            <span>Provided Liquidity</span>
            <m-tooltip icon="info">
              The liquidity you have provided
            </m-tooltip>
          </td>
          <td colspan="3">
            <m-wallet__currencyValue
              [value]="liquidityPositions?.provided_liquidity?.USD"
              currency="usd"
            ></m-wallet__currencyValue>
          </td>
        </tr>

        <tr>
          <td>
            <span>Current position</span>
            <m-tooltip icon="info">
              Your current liquidity position
            </m-tooltip>
          </td>
          <td colspan="3">
            <m-wallet__currencyValue
              [value]="liquidityPositions?.current_liquidity?.USD"
              currency="usd"
            ></m-wallet__currencyValue>

            <span
              class="m-walletTokenEarnings__comparative"
              [class.m-walletTokenEarnings__comparative--negative]="
                liquidityPositions?.yield_liquidity?.USD < 0
              "
            >
              <m-icon
                [iconId]="
                  liquidityPositions?.yield_liquidity?.USD > 0
                    ? 'arrow_upwards'
                    : 'arrow_downwards'
                "
              ></m-icon>
              <m-wallet__currencyValue
                [value]="liquidityPositions?.yield_liquidity?.USD"
                currency="usd"
              ></m-wallet__currencyValue>
            </span>
          </td>
        </tr>

        <!-- <tr>
          <td>
            <span>Tokens Earned</span>
            <m-tooltip icon="info">
              The difference of tokens between what you provided and your
              current position
            </m-tooltip>
          </td>
          <td colspan="3">
            <m-wallet__currencyValue
              [value]="liquidityPositions?.yield_liquidity?.MINDS"
              currency="tokens"
            ></m-wallet__currencyValue>
          </td>
        </tr> -->

        <tr>
          <td>
            <span>Yield</span>
            <m-tooltip icon="info">
              The difference between your provided liquidity and your current
              liquidity position
            </m-tooltip>
          </td>
          <td colspan="3">
            {{
              (liquidityPositions?.yield_liquidity?.USD /
                liquidityPositions?.provided_liquidity?.USD) *
                100 | number: '1.0-3'
            }}%
          </td>
        </tr>
      </ng-container>

      <tr>
        <td>
          <span>Time multiplier</span>
          <m-tooltip icon="info">
            Your score multiplier as determined by duration
          </m-tooltip>
        </td>
        <td colspan="3">
          <ng-container
            *ngTemplateOutlet="
              multiplierBar;
              context: { $implicit: data.liquidity.multiplier, timebased: true }
            "
          ></ng-container>
        </td>
      </tr>

      <tr>
        <td colspan="4" class="m-walletTokenEarnings__liquiditySpotPrompt">
          <a
            routerLink="/settings/account/boosted-content"
            class="m-walletTokenEarningsLiquiditySpotPrompt__cta"
          >
            <ng-container *ngIf="isOptedOutOfLiquiditySpot; else optOutLink"
              >Opt-out of showing in liquidity spot</ng-container
            >
            <ng-template #optOutLink
              >Opt-in to showing in liquidity spot</ng-template
            >
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Reusable row arrow arrow -->
<ng-template #expandArrow let-rowId="rowId">
  <i class="material-icons">{{
    expandedRow === rowId ? 'expand_less' : 'expand_more'
  }}</i>
</ng-template>

<!-- Reusable multiplier bar -->
<ng-template #multiplierBar let-multiplier let-timebased="timebased">
  <div class="m-walletTokenEarnings__multiplier">
    <div class="m-walletTokenEarnings__multiplierBarWrapper">
      <span>{{ multiplier | number: '1.1-4' }}</span>
      <div class="m-walletTokenEarnings__multiplierBar">
        <div
          class="m-walletTokenEarningsMultiplierBar__progress"
          [style.width.%]="(multiplier / 3) * 100"
        ></div>
      </div>
      <span>3.0</span>
    </div>

    <m-tooltip anchor="bottom" *ngIf="timebased">
      <div class="m-walletTokenEarningsMultiplier__secondary" m-tooltip--anchor>
        <span>
          {{ calculateDaysFromMultiplier(multiplier) | number: '1.0-0' }} days /
        </span>
        <span>365 days</span>
      </div>

      <ng-container>
        The longer you stake tokens, the more the time multiplier will increase.
        <br />
        The maximum time multiplier is 3.0 (52 weeks)
      </ng-container>
    </m-tooltip>

    <m-tooltip anchor="bottom" *ngIf="!timebased">
      <div class="m-walletTokenEarningsMultiplier__secondary" m-tooltip--anchor>
        <ng-container [ngSwitch]="multiplier">
          <ng-template ngSwitchCase="1">Casual</ng-template>
          <ng-template ngSwitchCase="2">Core</ng-template>
          <ng-template ngSwitchCase="3">Hardcore</ng-template>
        </ng-container>
      </div>

      <ng-container>
        <p>
          <b>Casual &middot; 1x</b> <br />
          Active one day over the past seven days
        </p>
        <p>
          <b>Core &middot; 2x</b> <br />
          Active three days over the past seven days
        </p>
        <p>
          <b>Hardcore &middot; 3x</b> <br />
          Active six days over the past six days
        </p>
      </ng-container>
    </m-tooltip>
  </div>
</ng-template>
